<form fxLayout="column" fxLayoutAlign="space-between center">
    <h1>Contact Info</h1>
    <div class="row-info">
        <label for="firstName">FirstName: </label>
        <span>{{contact.firstName}} </span>
    </div>
    <div class="row-info">
        <label for="lastName">LastName: </label>
        <span>{{contact.lastName}}</span>
    </div>
    <div class="row-info">
        <label for="email">Email: </label>
        <span>{{contact.email}} </span>
    </div>
    <div class="row-info">
        <label for="mobileNumber">Mobile Number: </label>
        <span>{{contact.mobileNumber}} </span>
    </div>
</form>