<div fxLayout="column" fxLayoutAlign="start center">
    <h1>Contact Info</h1>
    <mat-list>
        <mat-list-item >
            <label>Frist Name:</label>
            <span>{{contact.firstName}}</span>
        </mat-list-item>
        <mat-list-item >
            <label >Last Name:</label>
            <span>{{contact.lastName}} </span>
        </mat-list-item>
        <mat-list-item >
            <label >Email: </label>
            <span>{{contact.email}} </span>
        </mat-list-item>
        <mat-list-item >
            <label >Mobile Number: </label>
            <span>{{contact.mobileNumber}} </span>
        </mat-list-item>
        <mat-list-item >
            <label >Date</label>
            <span>{{contact.dateOfBirth |date:"dd-MMM-yyyy"}}</span>
        </mat-list-item>
    </mat-list> 
</div>