<div>
    <div class="list-header" >
        <div  >
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <h1>Todo List</h1>
                <button mat-raised-button (click)="openForm()">
                    Add Todo
                </button>
            </div>
            <div>
                <ul class = "list-header-ul">
                    <li><a [class.active]= 'all' (click)="getAll($event)">All</a></li>
                    <li><a [class.active]= 'complete'(click)="getComplete($event)">Complete</a></li>
                    <li><a [class.active]= 'active' (click)="getActive($event)">Active</a></li>
                </ul>
            </div>
        </div>
    </div>             
    <div id = 'list-item'>
        <div *ngFor="let item of getList()"> 
            <div  class='todo-item'>
                <input type='checkbox' [checked] = '!item.status' (click)="toggle(item.item)">
                <span>
                    {{item.item}}
                </span>
                <div class = 'item-edit'>
                    <button (click)="editItem(item.item)">Edit</button>
                    <button (click)="deleteItem(item.item)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
</div>