<div>
    <form #contactInfo = "ngForm" fxLayout="column" fxLayoutAlign="space-around center">
        <div class = form-row>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input required type="text" #firstName = "ngModel" name = 'firstName' [(ngModel)] = "newContact.firstName">
                <div class="alert-mesg" *ngIf="firstName.touched && firstName.invalid">This field is required</div>
            </div>
            <label>First Name</label>
        </div>
        <div class = form-row>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input required type="text" #lastName = "ngModel" name = 'lastName' [(ngModel)] = "newContact.lastName">
                <div class="alert-mesg" *ngIf="lastName.touched && lastName.invalid">This field is required</div>
            </div>
            <label>Last Name</label>
        </div>
        <div class = form-row>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input  required type="email" [email] = "true" #email = "ngModel" name = 'email' [(ngModel)] = "newContact.email">
                <div class="alert-mesg" *ngIf="email.touched && email.invalid">This field is required</div>
            </div>
            <label>Email</label>
        </div>
        <div class = form-row>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input required minlength = "11" maxlength="11" pattern = "^((\\+91-?)|0)?[0-9]{10}$" type="text" #mobileNumber = "ngModel" name = 'mobileNumber' [(ngModel)] = "newContact.mobileNumber">
                <div class="alert-mesg" *ngIf="mobileNumber.touched && mobileNumber.invalid">This field is required</div>
            </div>
            <label >Mobile Number</label>
        </div>
        <div class = form-row>
            <button mat-button mat-dialog-close [disabled] = !contactInfo.valid (click)="saveContact()">Submit</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </div>
    </form>
</div>
